:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --background-light: rgba(255, 255, 255, 1);
  --background-dark: #1a1a1a;
  --background-white: #fff;
  --review-background-color: rgba(242, 242, 242, 1);
  --text-dark: rgba(104, 104, 104, 1);
  --text-light: #ffffff;
  --text-black: #000;
  --accent-purple: rgba(129, 0, 255, 1);
  --accent-orange: rgba(255, 92, 0, 1);
  --transparent-black-light: rgba(0, 0, 0, 0.1);
  --transparent-black-full: rgba(0, 0, 0, 0);
  --transparent-black-medium: rgba(1, 1, 1, 1);
  --main-bg-color: var(--background-light);
  --secondary-bg-color: var(--background-white);
  --main-text-color: var(--text-black);
  --secondary-text-color: var(--text-black);
  --header-bg: var(--background-white);
  --burger-bg: var(--background-light);
  --select-bg-color: var(--background-light);
  --search-button: rgba(80, 76, 76, 1);
  --button-trailer: #f5c518;
  --button-trailer-hover: #e5b508;
}

body.dark-theme {
  --main-bg-color: var(--background-dark);
  --secondary-bg-color: var(--background-dark);
  --main-text-color: var(--text-light);
  --secondary-text-color: var(--text-light);
  --header-bg: var(--color-black);
  --burger-bg: var(--color-black);
  --select-bg-color: var(--color-black);
  --review-background-color: var(--color-black);
  --button-trailer: var(--color-white);
  --button-trailer-hover: var(--text-dark);
  }
