*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  outline: none;
}
body {
  font-family: "Inter", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

header {
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper {
  margin: 0 auto;
  max-width: 1274px;
  flex-grow: 1;
}
.burger-menu-active {
  display: none;
}
nav {
  width: 100%;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
header a,
p {
  font-size: 20px;
  font-weight: 600;
  line-height: 33px;
  color: #000;
}
.nav-li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-li-menu,
.nav-li-theme {
  padding-top: 7px;
}
.nav-li-menu {
  gap: 60px;
}
.nav-li-theme {
  gap: 10px;
}
.theme-switch {
  display: flex;
  border: 1px solid #000;
  border-radius: 20px;
  width: 56px;
  height: 31px;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.switch {
  width: 24px;
  height: 24px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #000;
  margin: 3px;
  transition: all 0.5s ease-in-out;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}
.switch.active {
  transform: translateX(100%);
}
.burger-menu-none {
  display: none;
}
.burger-menu {
  display: none;
  cursor: pointer;
}
.movie-list {
  margin: 50px auto;
  max-width: 1415px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.wrapper-movies {
  margin: 0 auto;
  max-width: 1274px;
  overflow: hidden;
}
.movies-slider {
  margin: 0 auto;
  scroll-behavior: smooth;
  display: flex;
  gap: 28.9px;
  overflow-x: auto;
  scrollbar-width: none;
  width: 100%;
}
.arrow-slider-mobile {
  display: none;
}
.arrow-left .arrow-slider-mobile {
  transform: rotate(0deg);
}
.disabled {
  visibility: hidden;
}
.movie-list button {
  transition: all 0.3s;
  flex-shrink: 0;
  align-self: center;
  height: auto;
}
.arrow-left {
  transform: rotate(180deg);
}
.arrow-right {
  right: 0;
}
.arrow-left:hover,
.arrow-right:hover {
  opacity: 0.5;
}
.search {
  width: 100%;
  height: 620px;
  position: relative;
  overflow: hidden;
}
.search > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.search::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(
    to right,
    rgba(129, 0, 255, 1) 50%,
    rgba(255, 92, 0, 1) 100%
  );
  z-index: 1;
}
.search-input__content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input__content > * {
  border: none !important;
}
.search-input__input {
  width: 100%;
  font-size: 24px;
  font-weight: 600;
}
.search-input__input:focus {
  outline: none;
}
.search-input__btn {
  width: 207px;
  height: 79px;
  border: 1px solid #000 !important;
  background-color: #000000 !important;
  color: #ffffff !important;
  border-radius: 100px;
  font-size: 24px;
  padding: 25px 65px;
  margin-right: 10px;
}
.search-input__div {
  width: 1492px;
  height: 100px;
  border-radius: 120px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-input__div img {
  margin-left: 40px;
  margin-right: 33px;
}
footer {
  padding: 50px 0;
  background-color: #000000;
}
.wrapper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-footer p {
  color: white;
}
.footer-social {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-social a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.footer-social a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}
.icon-white {
  opacity: 1;
}
.icon-hover {
  opacity: 0;
}
.footer-social a:hover .icon-white {
  opacity: 0;
}
.footer-social a:hover .icon-hover {
  opacity: 1;
}
.movie-card {
  width: 405px;
  height: 500px;
  position: relative;
  cursor: pointer;
}
.movie-rating {
  position: absolute;
  top: 13.56px;
  left: 13.56px;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-rating p {
  color: #ffffff;
  font-size: 20.5px;
}
.movie-title {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 222px;
  background: linear-gradient(
    to bottom,
    rgba(1, 1, 1, 0) 25%,
    rgba(1, 1, 1, 1) 40%
  );
  display: flex;
  align-items: center;
}
.movie-title p {
  color: #ffffff;
  font-size: 1.5rem;
  padding-left: 20px;
}
@media (max-width: 1530px) {
  .search-input__content {
    padding: 0 20px;
  }
}
@media (max-width: 1442px) {
  .movie-list {
    padding-left: 10px;
    position: relative;
  }
}
@media (max-width: 1364px) {
  .movie-list {
    max-width: 1200px;
  }
  .wrapper-movies {
    max-width: 1100px;
  }
  .movie-card {
    width: 350px;
  }
  .movies-slider {
    gap: 25px;
  }
}
@media (max-width: 1320px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 1200px) {
  .movie-list {
    max-width: 1000px;
  }
  .wrapper-movies {
    max-width: 900px;
  }
  .movie-card {
    width: 286.5px;
  }
  .movies-slider {
    gap: 20px;
  }
}
@media (max-width: 1000px) {
  .movie-list {
    max-width: 800px;
  }
  .wrapper-movies {
    max-width: 700px;
  }
  .movie-card {
    width: 220px;
  }
  .movies-slider {
    gap: 20px;
  }
}
@media (max-width: 801px) {
  .burger-menu {
    display: flex;
  }
  .burger-menu-active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index: 3;
    flex-direction: column;
  }
  .burger-menu-active button {
    align-self: flex-end;
    padding: 50px 20px 0 0;
  }
  .burger-menu-active button:hover {
    opacity: 0.5;
  }
  .nav-li {
    display: none;
  }
  .sec-pod-content-div > * {
    width: auto !important;
  }
  .burger-menu {
    display: block;
    transition: 0.3s ease;
  }
  .burger-menu:hover {
    opacity: 0.5;
  }
  .burger-menu-active nav {
    flex-grow: 1;
    height: 100%;
  }
  .burger-menu-active nav ul {
    flex-direction: column;
    height: 100%;
    padding-bottom: 35px;
  }
  .burger-menu-active .nav-li {
    display: flex;
    flex-direction: column;
  }
  .burger-menu-active .nav-li a {
    font-size: 20px;
    font-weight: 600;
    line-height: 33px;
    color: #000;
  }
  .burger-menu-active .nav-li a:hover {
    opacity: 0.5;
  }
  .burger-menu-active .nav-li a.active {
    color: #000000;
  }
  .burger-menu-active .nav-li-theme {
    flex-direction: row;
  }
}
@media (max-width: 800px) {
  .space-hero {
    height: 550px;
  }
  .movie-list {
    max-width: 600px;
  }
  .wrapper-movies {
    max-width: 500px;
  }
  .movie-card {
    width: 240px;
    height: 367.59px;
  }
  .movie-rating {
    width: 36.95px;
    height: 22.78px;
    top: 9.97px;
    left: 9.97px;
  }
  .movie-rating p {
    font-size: 15.07px;
  }
  .movies-slider {
    gap: 20px;
  }
  .movie-title {
    background: linear-gradient(
      to bottom,
      rgba(1, 1, 1, 0) 11.14%,
      #010101 28.92%
    );
    height: 163px;
  }
  .movie-title p {
    font-size: 21.7px;
    padding: 0 14.07px;
  }
  .arrow-dekstop {
    display: none;
  }
  .arrow-slider-mobile {
    display: block;
  }
  .arrow-left img {
    transform: rotate(0deg);
  }
  .disabled {
    visibility: visible;
    cursor: not-allowed;
    opacity: 0.4;
  }
  .disabled:hover {
    opacity: 0.4;
  }
  .search {
    height: 303px !important;
  }
  .search-input__div {
    width: 100%;
    height: 50.67px;
  }
  .search-input__btn {
    width: 100px;
    height: 39px;
    padding: 12.61px 32.79px;
    font-size: 13px;
    border-radius: 50.45px;
    text-align: center;
  }
  .search-input__icon {
    width: 15.42px;
    height: 15.42px;
    margin-left: 13.52px !important;
    margin-right: 6.93px !important;
  }
  .search-input__input {
    font-size: 13px;
  }
  .search-input {
    width: 175% !important;
  }
  .footer-social a {
    width: 20px;
    height: 14.7px;
  }
  .wrapper-footer p {
    font-size: 18px;
    line-height: 125%;
  }
}
@media (max-width: 650px) {
  .search-input {
    width: 200% !important;
  }
  .wrapper-footer {
    flex-direction: column-reverse;
    align-items: start;
    gap: 54.12px;
  }
}
@media (max-width: 585px) {
  .wrapper-movies {
    width: 100%;
  }
  .movies-slider {
    width: 100%;
    gap: 20px;
  }
  .movies-slider a {
    flex: 0 0 100%;
  }
  .movie-card {
    min-width: 100%;
  }
  .movie-list button {
    padding: 0 5px;
  }
}
@media (max-width: 420px) {
  ul li a img {
    width: 217px;
    height: 47px;
  }
}
@media (max-width: 365px) {
  .search-input__btn {
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 5px;
  }
}
